@charset "utf-8";
body{
	background-color: #DADED4;
	margin: 0px;
	padding-bottom: 2px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.aboutSection{
	width: 100%;
	background-image: url("searain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom:  1000px;
}

.logo{
	font-size: 5%;
	font-weight: 300;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#DADED4;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    padding: 10px 50px 10px;
    font-style: normal;
    font-weight: 400;
}

.menu ul{
	margin: 0;
	padding: 0;
	display:flex;
}

.menu ul li{
	list-style:none;
	margin: 0 20px;
	display:inline;
}

.menu ul li a{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:black;
	font-size: 18px;
	font-weight:700;
	text-decoration: none;
	padding: 15px 20px;
	display:inline-block;
	transition: 0.4s;
}

.menu ul li a.active{
	background: #DB3131;
	opacity: 0.9;
	border-radius: 15px;
}

.menu ul li:hover a{
	background: #DB3131;
	opacity: 0.9;
	border-radius: 15px;
}

.bot{
	box-sizing: border-box;
	background: grey;
	padding: 15px;
	width: 100%;
	padding-bottom: 1px;
}





.copyright{
	text-align:center;
	margin-left: 30px;
}

.socials{
	text-align: center;
	padding-left: 20px;
}


.socials a{
	text-decoration:none;
}

.footerBot img{
	height: 35px;
	padding: 5px;
}

.footerBot h3{
	text-align: center;
	margin-left: 25px;
}